
.lnb {width: 230px; height: 100%; border-right: 1px solid #ddd; box-sizing: border-box; }
.lnb > ul {display: flex; flex-direction: column; padding: 40px 0; box-sizing: border-box}
.lnb > ul > li {display: flex; flex-direction: column; padding:0px 30px 14px; box-sizing: border-box;}
.lnb > ul > li > span {font-size: 20px; font-weight: 700;}
.lnb > ul > li > .depth {display: flex; flex-direction: column;}
.lnb > ul > li > .depth > li {padding:8px 14px; box-sizing: border-box;}
.lnb > ul > li > .depth > li > a {font-size: 14px;}

