body{
    width:99vw;
    margin:2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    width:400px;
    margin-top:50px;
    min-width: 500px;
    border:5px solid deepskyblue;
    border-radius : 20px;
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
.loginForm .field, .loginForm .btn{
    width:100%;
    display: flex;
    margin:5px 0;
}

.loginForm .field label, .field label{
    flex:1;
    font-weight: bold;
    margin:5px 0;
}
.loginForm .field input, .loginForm .field div{
    flex:4; border-radius: 10px;
}
.loginForm .btn input[type=button], .loginForm .btn input[type=submit]{
    flex:1;
    height:30px;
    margin-right:5px;
    font-weight: bold;
    border:none;
    padding:5px;
    font-size: 1.1rem;
    border-radius: 10px;
    color:white;
    background-color: black;
}